body{
    margin: 0 auto;
    max-width: 90%;
    background-image:url(https://cdn-media.planete-starwars.com/news/78588-babyyoda-169-lg.jpg?w=768) ;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;


    
}
blockquote{
    font-size: 25.6px;

    background-color: orange;

    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 35%;
    margin-right: 35%;
    

    
}
q{
    font-style: italic;
}
.vilage{
    color: blue;
}
.old{
     color: blueviolet;
}
header h1{
    background-color: yellow;
}
.green{
    color: green;
    text-transform: capitalize;
}
.red{
    color: red;
    text-transform: capitalize;
}
.go{
    background-color: gray;
}
.on{
    background-color:white;
}
.pouce-up{
    background-image:url(https://raw.githubusercontent.com/becodeorg/CRL-Keller-4/main/1.The-Field/04.HTML-CSS/assets/bien.png?token=GHSAT0AAAAAABRLMILMEDO3OU5ZHDAPQD2SYQLYY3Q);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 260px;
}
.pouce-down{
    background-image:url(https://raw.githubusercontent.com/becodeorg/CRL-Keller-4/main/1.The-Field/04.HTML-CSS/assets/mal.png?token=GHSAT0AAAAAABRLMILNJP362P4NNCJI4S2SYQLZAPQ);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 260px ;
}
.cat{
    background-image:url(https://raw.githubusercontent.com/becodeorg/CRL-Keller-4/main/1.The-Field/04.HTML-CSS/assets/chat.png?token=GHSAT0AAAAAABRLMILNLFEYDK26OGFUZLVUYQLZBAQ);
    background-repeat: no-repeat ;
    background-size: contain;
    background-position: 260px;
}